<div class="alert alert-block" style="border: 1px solid #455A64;background-color:#ECEFF1;">
본 자료 및 영상 컨텐츠는 저작권법 제25조 2항에 의해 보호를 받습니다. 본 컨텐츠 및 컨텐츠 일부 문구등을 외부에 공개, 게시하는 것을 금지합니다. 특히 자료에 대해서는 저작권법을 엄격하게 적용하겠습니다.
</div>

### CROSS VALIDATION

### 데이터 준비

In [8]:
import warnings
warnings.filterwarnings('ignore')

import pickle
with open('titanic_step3_feature_encoding.pickle', 'rb') as pickle_filename:
    df_onehot = pickle.load(pickle_filename)
with open('titanic_step3_feature_encoding_y.pickle', 'rb') as pickle_filename:
    y_train = pickle.load(pickle_filename)
ntrain = 891
X_train, X_test = df_onehot[:ntrain], df_onehot[ntrain:]
X_train.head()

,Pclass_0,Pclass_1,Pclass_2,Sex_0,Sex_1,Age_0,Age_1,Age_2,Age_3,Age_4,...,HighChance_0,HighChance_1,HighChance_2,HighChance_3,HighChance_4,HighChance_5,HighChance_6,LowChance_0,LowChance_1,LowChance_2
0,0,0,1,1,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
1,1,0,0,0,1,0,0,0,0,1,...,0,0,1,0,0,0,0,1,0,0
2,0,0,1,0,1,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
3,1,0,0,0,1,0,0,0,0,1,...,0,0,1,0,0,0,0,1,0,0
4,0,0,1,1,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,1

### K-Fold 테스트

In [9]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [10]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 13)
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)           # K-Fold 사용

In [11]:
score = cross_val_score(knn, X_train, y_train, cv=k_fold, n_jobs=-1, scoring='accuracy')
score

array([0.81111111, 0.83146067, 0.79775281, 0.82022472, 0.86516854,
       0.84269663, 0.82022472, 0.82022472, 0.79775281, 0.83146067])

In [12]:
import numpy as np
np.mean(score)*100

82.38077403245943

### Stratified K-Fold 테스트

In [15]:
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import KFold

iris_data = load_iris()

In [16]:
dir(iris_data)

['DESCR',
 'data',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [18]:
iris_df = pd.DataFrame(data=iris_data.data, columns=iris_data.feature_names)

In [21]:
iris_df['species']=iris_data.target
iris_df['species'].value_counts()

2    50
1    50
0    50
Name: species, dtype: int64

In [22]:
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [23]:
skfold = StratifiedKFold(n_splits=3)

# StratifiedKFold.split(X, y): X 는 훈련 데이터, y 는 훈련 데이터의 정답 레이블
for train_index, test_index in skfold.split(iris_df, iris_df['species']):
    trainset = iris_df['species'].iloc[train_index]
    testset = iris_df['species'].iloc[test_index]
    print('train set\n', trainset.value_counts())
    print('test set\n', testset.value_counts())

train set
 2    34
1    33
0    33
Name: species, dtype: int64
test set
 1    17
0    17
2    16
Name: species, dtype: int64
train set
 1    34
2    33
0    33
Name: species, dtype: int64
test set
 2    17
0    17
1    16
Name: species, dtype: int64
train set
 0    34
2    33
1    33
Name: species, dtype: int64
test set
 2    17
1    17
0    16
Name: species, dtype: int64

In [24]:
kfold = KFold(n_splits=3)

# KFold.split(X): X 는 훈련 데이터
for train_index, test_index in kfold.split(iris_df):
    trainset = iris_df['species'].iloc[train_index]
    testset = iris_df['species'].iloc[test_index]
    print('trainset\n', trainset.value_counts())
    print('testset\n', testset.value_counts())

trainset
 2    50
1    50
Name: species, dtype: int64
testset
 0    50
Name: species, dtype: int64
trainset
 2    50
0    50
Name: species, dtype: int64
testset
 1    50
Name: species, dtype: int64
trainset
 1    50
0    50
Name: species, dtype: int64
testset
 2    50
Name: species, dtype: int64

<div class="alert alert-block" style="border: 1px solid #455A64;background-color:#ECEFF1;">
본 자료 및 영상 컨텐츠는 저작권법 제25조 2항에 의해 보호를 받습니다. 본 컨텐츠 및 컨텐츠 일부 문구등을 외부에 공개, 게시하는 것을 금지합니다. 특히 자료에 대해서는 저작권법을 엄격하게 적용하겠습니다.
</div>