<div align="center">
    <img src="images/zb-logo.png" alt="ì œë¡œë² ì´ìŠ¤" width="100%">
    <br>
    <a href="https://zerobaseschool.notion.site/DS-EDA-Lv-Test-b7d5e895c7cd4dda813c8fe2f2c23f79"><img src="images/openinnotion_logo.png" alt="EDA Lv Test Doc" width="12%"></a>

ì´ Jupyter Notebook íŒŒì¼ì€ <a href="https://zero-base.co.kr/category_data_camp/school_DS">ì œë¡œë² ì´ìŠ¤</a>ì—ì„œ ì œê³µí•˜ëŠ” **EDA Level Test** ë¬¸ì œì…ë‹ˆë‹¤.<br>
ì§€ê¸ˆê¹Œì§€ ê³µë¶€í•˜ì‹  ë‚´ìš©ìœ¼ë¡œ ë°ì´í„° ë¶„ì„ì— ëŒ€í•´ ì¢€ ë” ì—°ìŠµí•  ìˆ˜ ìˆëŠ” ì‹œê°„ì´ ë˜ì…¨ìœ¼ë©´ ì¢‹ê² ìŠµë‹ˆë‹¤.ğŸ™‚<br>
**EDA Level Test**ì— ëŒ€í•œ ì•ˆë‚´ ì‚¬í•­ì€ ìƒë‹¨ **Open in ZeroBase Notion** ë¡œê³ ë¥¼ í´ë¦­í•˜ì—¬ í™•ì¸í•´ì£¼ì„¸ìš”!<br>
ë°˜ë“œì‹œ ì‹œì‘ ì „ì— ë‚´ìš©ì„ ìˆ™ì§€í•´ì£¼ì‹œê¸°ë¥¼ ë°”ëë‹ˆë‹¤!<br>
</div>

***

<h1 style="background-color:#9F81F7;color:#D8D8D8;font-weight:bold;display:inline-block;padding: 5px">EDA Level Test 06 â­ï¸â­ï¸</h1>

| Week | Data Analysis | Difficulty | This Notebook |
|------|---------------|------------|-------|
| 1    | ì„œìš¸ì‹œ ì¸êµ¬ ë°ì´í„° | â­ï¸ ||
| 2    | í™”ì¥í’ˆ ì„±ë¶„ ë°ì´í„° | â­ï¸â­ï¸â­ï¸ ||
| 3    | ì˜¬ë¦¼í”½ ë°ì´í„° | â­ï¸â­ï¸ ||
| 4    | êµ­ê°€ë³„ ì¸í„°ë„· ì‚¬ìš©ë¥  ë°ì´í„° |â­ï¸â­ï¸ ||
| 5    | ì „êµ­ ë°•ë¬¼ê´€/ë¯¸ìˆ ê´€ ì •ë³´ í‘œì¤€ ë°ì´í„° | â­ï¸â­ï¸â­ï¸ ||
| 6    | ì„œìš¸ì‹œ í¡ì—°ìœ¨ í†µê³„ ë°ì´í„° | â­ï¸â­ï¸ |ğŸ‘ˆ|
| 7    | ì›¹í¬ë¡¤ë§ | â­ï¸ ||
| 8    | ì„œìš¸ì‹œ ì§€í•˜ì²  í˜¸ì„ ë³„ ì—­ë³„ ìœ /ë¬´ì„ ìŠ¹í•˜ì°¨ ì¸ì› ì •ë³´ ë°ì´í„° | â­ï¸â­ï¸ ||
| 9    | ì„œìš¸ì‹œ êµí†µì‚¬ê³  í˜„í™© (ì‚¬ê³ ìœ í˜•ë³„) í†µê³„ ë°ì´í„° | â­ï¸â­ï¸ ||
| 10   | ì„œìš¸ì‹œ êµí†µì‚¬ê³  í˜„í™© (ì‚¬ê³ ìœ í˜•ë³„) í†µê³„ + ì„œìš¸ì‹œ ì°¨ëŸ‰í†µí–‰ì†ë„ (êµ¬ë³„/ì›”ë³„) í†µê³„ + ì„œìš¸ì‹œ ì¸êµ¬ë°€ë„ (êµ¬ë³„) í†µê³„ | â­ï¸â­ï¸â­ï¸ ||

## ë¬¸ì œ ì†Œê°œ ë° ë°ì´í„° ì¤€ë¹„ ë‹¨ê³„

<div style="border: 1px solid black; padding: 10px;">

### ë¬¸ì œ ì†Œê°œ
- ì´ 3ë‹¨ê³„ ë°ì´í„° ë¶„ì„ ìƒí™© ì œì‹œ
<br></br>
    - 1ë‹¨ê³„: DataFrame ì „ì²˜ë¦¬ 01 - ê¸°ì´ˆ
    - 2ë‹¨ê³„: DataFrame ì „ì²˜ë¦¬ 02 - ì‹¬í™”
    - 3ë‹¨ê³„: ì›í•˜ëŠ” ì •ë³´ ì–»ê¸°
<br></br>
    - ì´ì  100ì 

### Data ì›ë³¸ ì¶œì²˜

### Target Data(txt): ì„œìš¸ì‹œ í¡ì—°ìœ¨ í†µê³„
- Source: [ì„œìš¸ ì—´ë¦°ë°ì´í„° ê´‘ì¥](https://data.seoul.go.kr/dataList/10668/S/2/datasetView.do;jsessionid=C18A51D1DF6D7CE1CD05D8C842510242.new_portal-svr-11)
- Reference: [PinkWink](https://pinkwink.kr/1288?category=580892)
- DownLoad: ìƒê¸° Source(ì„œìš¸ ì—´ë¦°ë°ì´í„° ê´‘ì¥)ì—ì„œ 2009ë…„ - 2018ë…„ ì„¤ì •í•˜ì—¬ Download
    - ë¬¸ì œ ì¶œì œ ì´í›„ Data ë³€ê²½ë  ê°€ëŠ¥ì„±ì´ ìˆìœ¼ë¯€ë¡œ ë¬¸ì œ í’€ì´ì‹œ í•˜ê¸° File Pathì˜ Data ì‚¬ìš©
- File Path: ```'./datas/report.txt'```

### ì°¸ê³ ì‚¬í•­
- ì„œìš¸ ì—´ë¦°ë°ì´í„° ê´‘ì¥ì—ì„œ í•´ë‹¹ ë°ì´í„°ëŠ” ë‹¤ì–‘í•œ Format(xls, txt, hwp)ìœ¼ë¡œ ì œê³µí•©ë‹ˆë‹¤.
- ë°ì´í„°ëŠ” íƒ­ìœ¼ë¡œ êµ¬ë¶„í•˜ì—¬ TXTë¡œ ì œê³µí•©ë‹ˆë‹¤
- ë¬¸ì œì— hintê°€ ìˆì„ ê²½ìš°, í•´ë‹¹ hintë¥¼ ì´ìš©í•˜ì§€ ì•Šìœ¼ì…”ë„ ë¬´ë°©í•©ë‹ˆë‹¤.

</div>

In [1]:
import pandas as pd
# ì±„ì ì„ ìœ„í•œ ì½”ë“œì…ë‹ˆë‹¤. ë°˜ë“œì‹œ ì‹¤í–‰í•´ì£¼ì„¸ìš”.
from grading import *

df_target = pd.read_csv('./datas/report.txt', sep='\t')
df_target.head()

     ê¸°ê°„     êµ¬ë¶„    êµ¬ë¶„.1    ì „ì²´    ë‚¨ì   ì—¬ì
0  2009    ì„œìš¸ì‹œ     ì„œìš¸ì‹œ  24.3  45.5    4
1  2009  ìƒì• ì£¼ê¸°ë³„  19~29ì„¸  24.9  43.8    6
2  2009  ìƒì• ì£¼ê¸°ë³„  30~44ì„¸  29.9  55.1  3.8
3  2009  ìƒì• ì£¼ê¸°ë³„  45~64ì„¸  22.6  43.2  3.3
4  2009  ìƒì• ì£¼ê¸°ë³„  65ì„¸ ì´ìƒ  11.5  22.8  2.9

## ë¬¸ì œ ì‹œì‘! ğŸƒğŸ»

## 1ë‹¨ê³„: DataFrame ì „ì²˜ë¦¬ 01 - ê¸°ì´ˆ
***

### ë¬¸ì œ 1-1) ê¸°ì´ˆ ì „ì²˜ë¦¬ 01 (5ì )
- ìœ„ì˜ DataFrame(df_target)ì„ ì•„ë˜ì˜ ì¡°ê±´ì— ë§ê²Œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´1: 'êµ¬ë¶„' Column(ì—´)ëª…ì„ 'êµ¬ë¶„1'ë¡œ, 'êµ¬ë¶„.1' Column(ì—´)ëª…ì„ 'êµ¬ë¶„2'ë¡œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: ì¡°ê±´1ì— ë”°ë¼ Column(ì—´)ëª…ì„ ë³€ê²½í•œ í›„ 'êµ¬ë¶„1'ì˜ 'ì„œìš¸ì‹œ'ë¥¼ 'ì‹œ'ë¡œ, '**êµ¬'(ì˜ˆ: ì–‘ì²œêµ¬, ì˜ë“±í¬êµ¬)ëŠ” 'êµ¬'ë¡œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´3: Index, Column ìˆœì„œ ë˜ëŠ” Data ìˆœì„œ(ì •ë ¬)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
    - ì¡°ê±´4: 'df_target' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_target)ë¥¼ check_01_01 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [2]:
# 1-1
df_target.rename(columns={'êµ¬ë¶„': 'êµ¬ë¶„1', 'êµ¬ë¶„.1': 'êµ¬ë¶„2'}, inplace=True)
df_target['êµ¬ë¶„1'] = df_target['êµ¬ë¶„1'].replace({'ì„œìš¸ì‹œ': 'ì‹œ', r'.*êµ¬$': 'êµ¬'}, regex=True)
# ì¡°ê±´2
# df_target['êµ¬ë¶„1'] = df_target['êµ¬ë¶„1'].replace({'ì„œìš¸ì‹œ': 'ì‹œ', 'êµ¬': 'êµ¬'}, regex=True)

check_01_01(df_target)
display(df_target)

ì •ë‹µì…ë‹ˆë‹¤! 5ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 5 / 100

       ê¸°ê°„    êµ¬ë¶„1     êµ¬ë¶„2    ì „ì²´    ë‚¨ì   ì—¬ì
0    2009      ì‹œ     ì„œìš¸ì‹œ  24.3  45.5    4
1    2009  ìƒì• ì£¼ê¸°ë³„  19~29ì„¸  24.9  43.8    6
2    2009  ìƒì• ì£¼ê¸°ë³„  30~44ì„¸  29.9  55.1  3.8
3    2009  ìƒì• ì£¼ê¸°ë³„  45~64ì„¸  22.6  43.2  3.3
4    2009  ìƒì• ì£¼ê¸°ë³„  65ì„¸ ì´ìƒ  11.5  22.8  2.9
..    ...    ...     ...   ...   ...  ...
424  2019      êµ¬     ê´€ì•…êµ¬  18.0  30.3  5.6
425  2019      êµ¬     ì„œì´ˆêµ¬  12.6  25.1  1.5
426  2019      êµ¬     ê°•ë‚¨êµ¬  14.7  26.6  4.2
427  2019      êµ¬     ì†¡íŒŒêµ¬  14.9  28.8    F
428  2019      êµ¬     ê°•ë™êµ¬  18.5  34.8  2.9

[429 rows x 6 columns]

### ë¬¸ì œ 1-2) ê¸°ì´ˆ ì „ì²˜ë¦¬ 02 (10ì )
- 1-1ì˜ DataFrame(df_target)ì„ ì•„ë˜ì˜ ì¡°ê±´ì— ë§ê²Œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´1: 'ì—¬ì' Column(ì—´)ëª…ì˜ Data ì¤‘ float Typeìœ¼ë¡œ ë³€ê²½í•  ìˆ˜ ìˆëŠ” ê²½ìš° float(numpy.float64)ìœ¼ë¡œ Typeì„ ë³€ê²½í•˜ê³ , ë¶ˆê°€ëŠ¥í•œ ê²½ìš° í•´ë‹¹ Dataì˜ ê°’ì„ Nullê°’(None)ìœ¼ë¡œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: Index, Column ìˆœì„œ ë˜ëŠ” Data ìˆœì„œ(ì •ë ¬)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
    - ì¡°ê±´3: 'df_target' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
    - hint1: python ì˜ˆì™¸ì²˜ë¦¬(try-except)ë¥¼ í™œìš©í•´ë³´ì„¸ìš”.
<br></br>
    - hint2: í˜„ì¬ df_targetì˜ 'ì—¬ì' Column(ì—´) dataë“¤ì˜ Typeì€ strì…ë‹ˆë‹¤.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_target)ë¥¼ check_01_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [3]:
# 1-2
df_target['ì—¬ì'] = df_target['ì—¬ì'].apply(lambda x: float(x) if str(pd.to_numeric(x, errors='coerce')) == x else None)

check_01_02(df_target)
df_target.head()

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 15 / 100

     ê¸°ê°„    êµ¬ë¶„1     êµ¬ë¶„2    ì „ì²´    ë‚¨ì   ì—¬ì
0  2009      ì‹œ     ì„œìš¸ì‹œ  24.3  45.5  4.0
1  2009  ìƒì• ì£¼ê¸°ë³„  19~29ì„¸  24.9  43.8  6.0
2  2009  ìƒì• ì£¼ê¸°ë³„  30~44ì„¸  29.9  55.1  3.8
3  2009  ìƒì• ì£¼ê¸°ë³„  45~64ì„¸  22.6  43.2  3.3
4  2009  ìƒì• ì£¼ê¸°ë³„  65ì„¸ ì´ìƒ  11.5  22.8  2.9

### ë¬¸ì œ 1-3) ê¸°ì´ˆ ì „ì²˜ë¦¬ 03 (5ì )
- 1-2ì˜ DataFrame(df_target)ì„ ì•„ë˜ì˜ ì¡°ê±´ì— ë§ê²Œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - df_targetì˜ 'êµ¬ë¶„' Column(ì—´) Data ì¤‘ 'êµìœ¡ìˆ˜ì¤€ë³„â…¡(65ì„¸ ì´ìƒ)'ì˜ Dataë“¤ì€ Nullê°’ì´ ë„ˆë¬´ ë§ì•„ ë¶„ì„ ëŒ€ìƒì—ì„œ ì œì™¸í•˜ë ¤ê³  í•©ë‹ˆë‹¤.
<br></br>
<br></br>
    - ì¡°ê±´1: 'êµ¬ë¶„' Column(ì—´)ì´ 'êµìœ¡ìˆ˜ì¤€ë³„â…¡(65ì„¸ ì´ìƒ)'ì¸ Row(í–‰)ì„ ì‚­ì œí•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: Index, Column ìˆœì„œ ë˜ëŠ” Data ìˆœì„œ(ì •ë ¬)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
    - ì¡°ê±´3: 'df_target' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_target)ë¥¼ check_01_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [4]:
# 1-3
df_target = df_target[df_target['êµ¬ë¶„1']!='êµìœ¡ìˆ˜ì¤€ë³„â…¡(65ì„¸ ì´ìƒ)']
check_01_03(df_target)
df_target.head()

ì •ë‹µì…ë‹ˆë‹¤! 5ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 20 / 100

     ê¸°ê°„    êµ¬ë¶„1     êµ¬ë¶„2    ì „ì²´    ë‚¨ì   ì—¬ì
0  2009      ì‹œ     ì„œìš¸ì‹œ  24.3  45.5  4.0
1  2009  ìƒì• ì£¼ê¸°ë³„  19~29ì„¸  24.9  43.8  6.0
2  2009  ìƒì• ì£¼ê¸°ë³„  30~44ì„¸  29.9  55.1  3.8
3  2009  ìƒì• ì£¼ê¸°ë³„  45~64ì„¸  22.6  43.2  3.3
4  2009  ìƒì• ì£¼ê¸°ë³„  65ì„¸ ì´ìƒ  11.5  22.8  2.9

## 2ë‹¨ê³„: DataFrame ì „ì²˜ë¦¬ 02 - ì‹¬í™”
***

### ë¬¸ì œ 2-1) ì‹¬í™” ì „ì²˜ë¦¬ 01 (10ì )
- 1ë‹¨ê³„ì˜ DataFrame(df_target)ì„ ì•„ë˜ì˜ ì¡°ê±´ì— ë§ê²Œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - df_target 'ì—¬ì' Column(ì—´)ì˜ Dataì— Nullê°’ì„ ì±„ìš°ê³ ì í•©ë‹ˆë‹¤.
<br></br>
    - Nullê°’ì„ ì±„ìš°ëŠ” ë°©ë²•ìœ¼ë¡œëŠ” ì—¬ëŸ¬ê°€ì§€ê°€ ìˆëŠ”ë°, ì´ Testì—ì„œëŠ” 'ì „ì²´'ì™€ 'ë‚¨ì', 'ì—¬ì' Column(ì—´)ì˜ Dataë¥¼ ì´ìš©í•˜ì—¬ 'ì—¬ìë¹„ìœ¨'ì„ êµ¬í•˜ê³ , 'ì—¬ìë¹„ìœ¨'ì˜ ë³€í™”ë¥¼ í™•ì¸í•˜ì—¬ Nullê°’ì„ ì±„ì›Œë³´ë ¤ê³  í•©ë‹ˆë‹¤.
<br></br>
    - **df_target.ì „ì²´ = df_target.ì—¬ì * x/100 + df_target.ë‚¨ì * (1 - x/100)** ì—ì„œì˜ x% ê°’ì´ 'ì—¬ìë¹„ìœ¨'ì…ë‹ˆë‹¤.
<br></br>
    - ì˜ˆì‹œ
<br></br>
    <img src="images/06-2-1-001.png" style="margin:auto" width=400/>
<br></br>
<br></br>
    - ì¡°ê±´1: 'ì—¬ì' Column(ì—´)ì˜ Dataê°€ Nullê°’(None)ì´ ì•„ë‹Œ ê²½ìš° ìœ„ì˜ ìˆ˜ì‹ì— ë”°ë¥¸ 'ì—¬ìë¹„ìœ¨'ì„ êµ¬í•˜ì—¬ 'ì—¬ìë¹„ìœ¨' Columnì— ì…ë ¥í•˜ì„¸ìš”(ìœ„ ì˜ˆì‹œë¥¼ ì°¸ê³ ).
        - 'ì—¬ìë¹„ìœ¨' Column(ì—´)ì˜ DataëŠ” ì†Œìˆ«ì  ì¼ê³± ë²ˆì§¸ ìë¦¬ì—ì„œ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ«ì  ì—¬ì„¯ ë²ˆì§¸ê¹Œì§€ ì…ë ¥í•´ì£¼ì„¸ìš”.
        - 'ì—¬ìë¹„ìœ¨' Column(ì—´) Dataì˜ Typeì€ float(numpy.float64)ì´ì–´ì•¼ í•©ë‹ˆë‹¤.
<br></br>
    - ì¡°ê±´2: 'ì—¬ì' Column(ì—´)ì˜ Dataê°€ Nullê°’(None)ì¸ ê²½ìš° 'ì—¬ìë¹„ìœ¨' Columnì— Nullê°’(None)ì„ ì…ë ¥í•˜ì„¸ìš”(ìœ„ ì˜ˆì‹œë¥¼ ì°¸ê³ ).
<br></br>
    - ì¡°ê±´3: Index, Column ìˆœì„œ ë˜ëŠ” Data ìˆœì„œ(ì •ë ¬)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
    - ì¡°ê±´4: 'df_target' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
    - hint1: ë°©ì •ì‹ì„ í’€ê¸° ìœ„í•œ Python Libraryë¡œ Sympy ë“±ì´ ìˆìŠµë‹ˆë‹¤. í•´ë‹¹ ë¬¸ì œëŠ” sympyë¥¼ ì´ìš©í•´ì„œ í’€ìˆ˜ë„ ìˆê³ , ë¹„êµì  ì‰¬ìš´ 1ì°¨ ë°©ì •ì‹ì´ë¯€ë¡œ ìˆ˜ì‹ì„ ì§ì ‘ ì „ê°œí•´ì„œ í’€ì–´ë„ ìƒê´€ ì—†ìŠµë‹ˆë‹¤.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜(df_target)ë¥¼ check_02_01 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [ ]:
# !pip install sympy

In [5]:
# 2-1
df_target['ì—¬ìë¹„ìœ¨'] = df_target.apply(lambda row: round((float(row['ì „ì²´']) - float(row['ë‚¨ì'])) * 100 / (float(row['ì—¬ì']) - float(row['ë‚¨ì'])), 6) if pd.notna(row['ì—¬ì']) else None, axis=1)

check_02_01(df_target)
display(df_target.head())

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 30 / 100

     ê¸°ê°„    êµ¬ë¶„1     êµ¬ë¶„2    ì „ì²´    ë‚¨ì   ì—¬ì       ì—¬ìë¹„ìœ¨
0  2009      ì‹œ     ì„œìš¸ì‹œ  24.3  45.5  4.0  51.084337
1  2009  ìƒì• ì£¼ê¸°ë³„  19~29ì„¸  24.9  43.8  6.0  50.000000
2  2009  ìƒì• ì£¼ê¸°ë³„  30~44ì„¸  29.9  55.1  3.8  49.122807
3  2009  ìƒì• ì£¼ê¸°ë³„  45~64ì„¸  22.6  43.2  3.3  51.629073
4  2009  ìƒì• ì£¼ê¸°ë³„  65ì„¸ ì´ìƒ  11.5  22.8  2.9  56.783920

### ë¬¸ì œ 2-2) ì‹¬í™” ì „ì²˜ë¦¬ 02 (10ì )
- 2-1ì˜ DataFrame(df_target)ì„ ì´ìš©í•˜ì—¬ ì•„ë˜ì˜ ì¡°ê±´ì— ë§ëŠ” ì •ë³´ë¥¼ êµ¬í•˜ì—¬ DataFrame(df_result)ìœ¼ë¡œ ë‚˜íƒ€ë‚´ì„¸ìš”.
<br></br>
    - df_targetì˜ 'ì—¬ì' Column Dataì˜ Nullê°’(None)ì„ ì±„ìš°ê¸° ìœ„í•œ ê·¼ê±°ë¡œ ì•„ë˜ì™€ ê°™ì€ ì •ë³´ë¥¼ êµ¬í•˜ë ¤ê³  í•©ë‹ˆë‹¤.
<br></br>
    - 2-1ì—ì„œ êµ¬í•œ df_target 'ì—¬ìë¹„ìœ¨' Column Dataì˜ ì—°ê°„ ë³€ë™ ì •ë„ë¥¼ 'êµ¬ë¶„2' Column(ì—´) Data ì¤‘ 'ì—¬ìë¹„ìœ¨'ì´ Nullê°’(None)ì´ ìˆëŠ” 'êµ¬ë¶„2' Data ë³„ë¡œ ë‹¤ì–‘í•œ ë°©ë²•(íšŒê·€ê³„ìˆ˜(coefficient), MinMax, í‰ê· , í‘œì¤€í¸ì°¨)ì„ ì´ìš©í•˜ì—¬ í™•ì¸í•´ë³´ë ¤ í•©ë‹ˆë‹¤.
<br></br>
    - íšŒê·€ê³„ìˆ˜ë€?
        - ì„ í˜• ëª¨í˜•ì—ì„œ xì™€ yì˜ ê´€ê³„ë¥¼ ìˆ˜ì‹ìœ¼ë¡œ y = w * x + b ë¡œ ë‚˜íƒ€ë‚¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
        - ì´ ì‹ì—ì„œ w(ê¸°ìš¸ê¸°)ì™€ b(ì ˆí¸)ë¥¼ íšŒê·€ê³„ìˆ˜(cofficient)ë¼ê³  í•©ë‹ˆë‹¤.
        - ë…ë¦½ë³€ìˆ˜ xê°€ 1 ì¦ê°€í•  ë•Œë§ˆë‹¤ ì¢…ì†ë³€ìˆ˜ yëŠ” wë§Œí¼ ì¦ê°€í•©ë‹ˆë‹¤.
        - ì•„ë˜ì˜ ì¡°ê±´2ì—ì„œ ìš°ë¦¬ê°€ êµ¬í•˜ê³ ì í•˜ëŠ” ê²ƒì€ íšŒê·€ê³„ìˆ˜ ì¤‘ ê¸°ìš¸ê¸°(w)ì´ë©°, í¸ì˜ìƒ wë¥¼ 'íšŒê·€ê³„ìˆ˜'ë¼ í‘œí˜„í•˜ê² ìŠµë‹ˆë‹¤.
<br></br>
    - ì•„ë˜ ì˜ˆì‹œëŠ” ì•„ë˜ì˜ ì¡°ê±´ì— ë§ì¶”ì–´ 'ì „ì²´' Column(ì—´) Dataì˜ ì—°ê°„ ë³€ë™ì„ 'êµ¬ë¶„2' Column(ì—´) ë³„ë¡œ í™•ì¸í•´ ë³¸ ê²ƒ ì…ë‹ˆë‹¤.
<br></br>
        - ì˜ˆì‹œ1
<br></br>
            <img src="images/06-2-2-001.png" style="margin:auto" width=400/>
<br></br>
<br></br>
    - ì¡°ê±´1: ê²°ê³¼ DataFrameì˜ Column(ì—´)ëª…ì€ ['êµ¬', 'íšŒê·€ê³„ìˆ˜', 'MinMax', 'í‰ê· ', 'í‘œì¤€í¸ì°¨'] ë¡œ ë§Œë“¤ì–´ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: 'ì—¬ì' ë˜ëŠ” 'ì—¬ìë¹„ìœ¨' Column(ì—´) Dataê°€ Nullê°’(None)ì´ ì•„ë‹Œ Row(í–‰)ì˜ 'êµ¬ë¶„2' Column(ì—´) Dataë¥¼ êµ¬í•˜ê³ , ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì„¸ìš”.
<br></br>
        - ì˜ˆì‹œ2: df_targetì˜ ì¼ë¶€ì…ë‹ˆë‹¤. ì•„ë˜ ê·¸ë¦¼ì— ëŒ€í•œ ì¡°ê±´2ì˜ ê²°ê³¼ëŠ” [ë…¸ì›êµ¬, ë™ì‘êµ¬, ì„œì´ˆêµ¬] ì…ë‹ˆë‹¤.
<br></br>
        <img src="images/06-2-2-002.png" style="margin:auto" width=400/>
<br></br>
    - ì¡°ê±´3: ì¡°ê±´2ì— í•´ë‹¹í•˜ëŠ” Data ê°ê° 'ê¸°ê°„' Column(ì—´) Dataì˜ ë³€í™”ì— ë”°ë¥¸ 'ì—¬ìë¹„ìœ¨' Column(ì—´)ì˜ ë³€ë™ì„ ë‚˜íƒ€ë‚´ëŠ” 'íšŒê·€ê³„ìˆ˜'ë¥¼ êµ¬í•˜ì„¸ìš”. ì´ ê²°ê³¼ë¥¼ ê²°ê³¼ DataFrameì˜  'íšŒê·€ê³„ìˆ˜' Column(ì—´)ì— ì…ë ¥í•˜ì„¸ìš”.
        - ë‹¨ìˆœíšŒê·€ë¶„ì„(1ì°¨, ì§ì„ )ì˜ íšŒê·€ê³„ìˆ˜ ì¤‘ ê¸°ìš¸ê¸°ë¥¼ ì˜ë¯¸í•©ë‹ˆë‹¤. ìœ„ì˜ 'íšŒê·€ê³„ìˆ˜ë€?'ì„ ì°¸ê³ í•´ì£¼ì„¸ìš”.
        - ìœ„ ê·¸ë¦¼ì˜ ì˜ˆì‹œ2ì— ë”°ë¥´ë©´ [ë…¸ì›êµ¬, ë™ì‘êµ¬, ì„œì´ˆêµ¬] ê°ê°ì— ëŒ€í•œ ê¸°ê°„ë³„ 'íšŒê·€ê³„ìˆ˜'ë¥¼ êµ¬í•˜ë©´ ë©ë‹ˆë‹¤.
        - 'ê¸°ê°„' Column(ì—´)ì˜ Dataê°€ xê°€ ë©ë‹ˆë‹¤.
        - 'ì—¬ìë¹„ìœ¨' Column(ì—´) Data ê°€ yê°€ ë©ë‹ˆë‹¤.
        - ì†Œìˆ«ì  ì¼ê³±ë²ˆì§¸ ìë¦¬ì—ì„œ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì—¬ì„¯ë²ˆì§¸ ìë¦¬ê¹Œì§€ë§Œ ë‚˜íƒ€ë‚´ì„¸ìš”.
        - ë‹¹ì—°íˆ Nullê°’(None)ì´ ìˆëŠ” Row(í–‰)ì€ ê³„ì‚°ì‹œ ì œì™¸ë©ë‹ˆë‹¤.
<br></br>
    - ì¡°ê±´4: ì¡°ê±´2ì— í•´ë‹¹í•˜ëŠ” Data ê°ê° 'ì—¬ìë¹„ìœ¨' Column(ì—´) Dataì˜ ìµœëŒ€ê°’ê³¼ ìµœì†Œê°’ì˜ ì°¨ì´(MinMax)ë¥¼ êµ¬í•˜ì„¸ìš”. ì´ ê²°ê³¼ë¥¼ ê²°ê³¼ DataFrameì˜  'MinMax' Column(ì—´)ì— ì…ë ¥í•˜ì„¸ìš”.
        - ìœ„ ê·¸ë¦¼ì˜ ì˜ˆì‹œ2ì— ë”°ë¥´ë©´ [ë…¸ì›êµ¬, ë™ì‘êµ¬, ì„œì´ˆêµ¬] ê°ê°ì— ëŒ€í•œ ìµœëŒ€ê°’ê³¼ ìµœì†Œê°’ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ë©´ ë©ë‹ˆë‹¤.
        - ì†Œìˆ«ì  ì¼ê³±ë²ˆì§¸ ìë¦¬ì—ì„œ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì—¬ì„¯ë²ˆì§¸ ìë¦¬ê¹Œì§€ë§Œ ë‚˜íƒ€ë‚´ì„¸ìš”.
        - ì ˆëŒ€ê°’(ì–‘ìˆ˜)ìœ¼ë¡œ í‘œí˜„í•˜ì„¸ìš”.
        - ë‹¹ì—°íˆ Nullê°’(None)ì´ ìˆëŠ” Row(í–‰)ì€ ê³„ì‚°ì‹œ ì œì™¸ë©ë‹ˆë‹¤.
<br></br>
    - ì¡°ê±´5: ì¡°ê±´2ì— í•´ë‹¹í•˜ëŠ” Data ê°ê° 'ì—¬ìë¹„ìœ¨' Column(ì—´)ì˜ í‰ê· ì„ êµ¬í•˜ì„¸ìš”. ì´ ê²°ê³¼ë¥¼ ê²°ê³¼ DataFrameì˜ 'í‰ê· ' Column(ì—´)ì— ì…ë ¥í•˜ì„¸ìš”.
        - ìœ„ ê·¸ë¦¼ì˜ ì˜ˆì‹œ2ì— ë”°ë¥´ë©´ [ë…¸ì›êµ¬, ë™ì‘êµ¬, ì„œì´ˆêµ¬] ê°ê°ì— ëŒ€í•œ í‰ê· ì„ êµ¬í•˜ë©´ ë©ë‹ˆë‹¤.
        - ì†Œìˆ«ì  ì¼ê³±ë²ˆì§¸ ìë¦¬ì—ì„œ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì—¬ì„¯ë²ˆì§¸ ìë¦¬ê¹Œì§€ë§Œ ë‚˜íƒ€ë‚´ì„¸ìš”.
        - ì ˆëŒ€ê°’(ì–‘ìˆ˜)ìœ¼ë¡œ í‘œí˜„í•˜ì„¸ìš”.
        - ë‹¹ì—°íˆ Nullê°’(None)ì´ ìˆëŠ” Row(í–‰)ì€ ê³„ì‚°ì‹œ ì œì™¸ë©ë‹ˆë‹¤.
<br></br>
    - ì¡°ê±´5: ì¡°ê±´2ì— í•´ë‹¹í•˜ëŠ” Data ê°ê° 'ì—¬ìë¹„ìœ¨' Column(ì—´)ì˜ í‰ê· ì„ êµ¬í•˜ì„¸ìš”. ì´ ê²°ê³¼ë¥¼ ê²°ê³¼ DataFrameì˜ 'í‘œì¤€í¸ì°¨' Column(ì—´)ì— ì…ë ¥í•˜ì„¸ìš”.
        - ìœ„ ê·¸ë¦¼ì˜ ì˜ˆì‹œ2ì— ë”°ë¥´ë©´ [ë…¸ì›êµ¬, ë™ì‘êµ¬, ì„œì´ˆêµ¬] ê°ê°ì— ëŒ€í•œ í‘œì¤€í¸ì°¨ì„ êµ¬í•˜ë©´ ë©ë‹ˆë‹¤.
        - ì†Œìˆ«ì  ì¼ê³±ë²ˆì§¸ ìë¦¬ì—ì„œ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì—¬ì„¯ë²ˆì§¸ ìë¦¬ê¹Œì§€ë§Œ ë‚˜íƒ€ë‚´ì„¸ìš”.
        - ì ˆëŒ€ê°’(ì–‘ìˆ˜)ìœ¼ë¡œ í‘œí˜„í•˜ì„¸ìš”.
        - ë‹¹ì—°íˆ Nullê°’(None)ì´ ìˆëŠ” Row(í–‰)ì€ ê³„ì‚°ì‹œ ì œì™¸ë©ë‹ˆë‹¤.
<br></br>
    - ì¡°ê±´6: ì¡°ê±´2ì˜ Dataë¥¼ ìˆœì„œëŒ€ë¡œ ì¡°ê±´3~5ì˜ ê°’ì„ êµ¬í•˜ê³  DataFrameì„ ë§Œë“ ë‹¤ë©´, ê²°ê³¼ DataFrameì˜ 'êµ¬' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬ë˜ì–´ ìˆì„ ê²ƒ ì…ë‹ˆë‹¤. ë§Œì•½ ì •ë ¬ë˜ì–´ìˆì§€ ì•Šë‹¤ë©´, 'êµ¬'ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬í•˜ê³  Indexë¥¼ ì´ˆê¸°í™”í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´7: 'df_result' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
    - hint1: ì¡°ê±´3 ê´€ë ¨í•˜ì—¬ ì´ì „ì— ë°°ì› ë˜ np.polyfit í•¨ìˆ˜ë¥¼ ì‘ìš©í•´ë³´ì„¸ìš”.
<br></br>
    - hint2: ì¡°ê±´3 ê´€ë ¨í•˜ì—¬ ì •ë‹µ ì¤‘ 'ê°•ë™êµ¬'ì˜ 'íšŒê·€ê³„ìˆ˜'ëŠ” 0.052052 ì…ë‹ˆë‹¤.
<br></br>
    - hint3: ì˜ˆì‹œ1ì˜ ê·¸ë¦¼ê³¼ Index/Columnì´ ë™ì¼í•©ë‹ˆë‹¤. ì•ˆì˜ ìˆ«ìë§Œ ë‹¤ë¦…ë‹ˆë‹¤.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜(df_result)ë¥¼ check_02_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [6]:
Nan_gu = df_target[df_target['ì—¬ìë¹„ìœ¨'].isna()]['êµ¬ë¶„2'].unique()
Nan_gu.sort()
Nan_gu

array(['ê°•ë™êµ¬', 'êµ¬ë¡œêµ¬', 'ë…¸ì›êµ¬', 'ë„ë´‰êµ¬', 'ë™ëŒ€ë¬¸êµ¬', 'ë™ì‘êµ¬', 'ì„œëŒ€ë¬¸êµ¬', 'ì„œì´ˆêµ¬', 'ì„±ë™êµ¬',
       'ì†¡íŒŒêµ¬', 'ì–‘ì²œêµ¬', 'ì˜ë“±í¬êµ¬'], dtype=object)

In [7]:
import numpy as np

linear_list = []
minMax_list = []
mean_list = []
std_list = []

for name in Nan_gu:
    # 1ì°¨ íšŒê·€ì‹: polyfit(x, y, ì°¨ìˆ˜)
    line = round(np.polyfit(df_target[(df_target['êµ¬ë¶„2']==name) & (df_target['ì—¬ìë¹„ìœ¨']>0)]['ê¸°ê°„'].tolist(), \
                            df_target[ (df_target['êµ¬ë¶„2']==name)&(df_target['ì—¬ìë¹„ìœ¨']>0)]['ì—¬ìë¹„ìœ¨'].tolist(), 1)[0], 6)
    
    # minMax : ìµœëŒ€ê°’ê³¼ ìµœì†Œê°’ì˜ ì°¨ì´(Max - min)
    minMax = round(np.max(df_target[(df_target['êµ¬ë¶„2']==name) & (df_target['ì—¬ìë¹„ìœ¨']>0)]['ì—¬ìë¹„ìœ¨'].tolist()) - \
                            np.min(df_target[(df_target['êµ¬ë¶„2']==name) & (df_target['ì—¬ìë¹„ìœ¨']>0)]['ì—¬ìë¹„ìœ¨'].tolist()), 6)
                   
    # mean : í‰ê· ì€ npë¼ì´ë¸ŒëŸ¬ë¦¬ì—ì„œ mean
    meanNum = round(np.mean(df_target[(df_target['êµ¬ë¶„2']==name) & (df_target['ì—¬ìë¹„ìœ¨']>0)]['ì—¬ìë¹„ìœ¨'].tolist()), 6)
    
    # std : í‘œì¤€í¸ì°¨ëŠ” npë¼ì´ë¸ŒëŸ¬ë¦¬ì—ì„œ std
    std = round(np.std(df_target[(df_target['êµ¬ë¶„2']==name) & (df_target['ì—¬ìë¹„ìœ¨']>0)]['ì—¬ìë¹„ìœ¨'].tolist()), 6)
    
    
    linear_list.append(line)
    minMax_list.append(abs(minMax))
    mean_list.append(abs(meanNum))
    std_list.append(abs(std))

In [8]:
df_result = pd.DataFrame(data = {
    'êµ¬': Nan_gu,
    'íšŒê·€ê³„ìˆ˜': linear_list,
    'MinMax': minMax_list,
    'í‰ê· ': mean_list,
    'í‘œì¤€í¸ì°¨': std_list
})

# 2-2
import numpy as np
# from numpy.polynomial import polynomial
# from numpy.polynomial.polynomial import Polynomial

check_02_02(df_result)
df_result

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 40 / 100

       êµ¬      íšŒê·€ê³„ìˆ˜    MinMax         í‰ê·       í‘œì¤€í¸ì°¨
0    ê°•ë™êµ¬  0.052052  0.701401  50.631950  0.222337
1    êµ¬ë¡œêµ¬  0.085093  1.011929  50.267907  0.293120
2    ë…¸ì›êµ¬  0.016932  0.400031  52.033941  0.153785
3    ë„ë´‰êµ¬  0.024619  0.580787  51.265114  0.148100
4   ë™ëŒ€ë¬¸êµ¬  0.042682  0.488017  50.060631  0.141627
5    ë™ì‘êµ¬  0.054593  0.531461  51.427075  0.186288
6   ì„œëŒ€ë¬¸êµ¬  0.059956  0.935272  51.826214  0.264601
7    ì„œì´ˆêµ¬  0.066071  0.841456  52.552076  0.250892
8    ì„±ë™êµ¬  0.097432  1.129327  50.518469  0.344289
9    ì†¡íŒŒêµ¬ -0.019510  0.285715  51.585111  0.095467
10   ì–‘ì²œêµ¬  0.024970  0.378362  51.171848  0.124261
11  ì˜ë“±í¬êµ¬  0.082978  0.889680  50.260807  0.280208

### ë¬¸ì œ 2-3) ì‹¬í™” ì „ì²˜ë¦¬ 03 (10ì )
- 2-2ì˜ DataFrame(df_result)ì„ ì´ìš©í•˜ì—¬ ì•„ë˜ì˜ ì¡°ê±´ì— ë§ëŠ” ì •ë³´ë¥¼ êµ¬í•˜ì—¬ 2-1ì˜ DataFrame(df_target)ì— ì…ë ¥í•˜ì„¸ìš”.
<br></br>
    - df_targetì˜ 'ì—¬ì' Column Dataì˜ Nullê°’(None)ì„ ì±„ìš°ê¸° ìœ„í•´ ìš°ì„  ìœ„ì—ì„œ êµ¬í•œ df_resultê°’ì„ ì´ìš©í•˜ë ¤ê³  í•©ë‹ˆë‹¤.
<br></br>
    - 2-2ì˜ df_resultë¥¼ ë³´ë©´,
        - 'íšŒê·€ê³„ìˆ˜'ì˜ ê²½ìš° ëŒ€ë¶€ë¶„ ì–‘ìˆ˜ì§€ë§Œ ì•„ì£¼ ì‘ì€ ê°’ì„ ê°€ì§€ê³  ìˆìŠµë‹ˆë‹¤. ê°•ë™êµ¬ì˜ ê²½ìš° 1ë…„ì´ ì§€ë‚ ë•Œ 'ì—¬ìë¹„ìœ¨'ì€ ì•½ 0.05% ì •ë„ ìƒìŠ¹í•œë‹¤ëŠ” ì˜ë¯¸ì…ë‹ˆë‹¤.
        - 'MinMax'ì˜ ê²½ìš° ìµœëŒ€ 'ì—¬ìë¹„ìœ¨'ê³¼ ìµœì†Œ 'ì—¬ìë¹„ìœ¨'ì˜ ì°¨ê°€ ê°€ì¥ í° ë¶€ë¶„ë„ 1.2%p ë¯¸ë§Œ ìˆ˜ì¤€ì…ë‹ˆë‹¤.
        - 'í‘œì¤€í¸ì°¨'ì˜ ê²½ìš° ëŒ€ë¶€ë¶„ í‰ê· ì˜ 0.5% ë¯¸ë§Œ ìˆ˜ì¤€ìœ¼ë¡œ í‰ê· ì— ëŒ€ë¶€ë¶„ì˜ 'ì—¬ìë¹„ìœ¨' Dataë“¤ì´ ëª°ë ¤ìˆë‹¤ê³  ë³´ì—¬ì§‘ë‹ˆë‹¤.
<br></br>
    - ë”°ë¼ì„œ 'ê¸°ê°„'(ì—°ë„) ë³„ë¡œ 'ì—¬ìë¹„ìœ¨'ì€ í‰ê· ì—ì„œ í° ì°¨ì´ê°€ ì—†ë‹¤ê³  íŒë‹¨ë˜ì–´ df_targetì˜ 'ì—¬ìë¹„ìœ¨' Nullê°’(None)ì— df_result 'êµ¬'('êµ¬ë¶„2') Dataì˜ 'í‰ê· ' Dataë¥¼ ì…ë ¥í•˜ë ¤ê³  í•©ë‹ˆë‹¤.
<br></br>
    - ì˜ˆì‹œ(df_resultì—ì„œ 'íšŒê·€ê³„ìˆ˜'ë¥¼ ì œì™¸í•œ ê°’ì€ ì‹¤ì œì™€ ê°’ì´ ë‹¤ë¦„)
<br></br>
        <img src="images/06-2-3-001.png" style="margin:auto" width=800/>
<br></br>
<br></br>
    - ì¡°ê±´1: df_resultì˜ 'êµ¬'ë³„ 'í‰ê· ' Dataë¡œ df_targetì˜ 'êµ¬ë¶„2'ë³„ 'ì—¬ìë¹„ìœ¨' Data ì¤‘ Nullê°’(None)ì„ ëŒ€ì²´í•˜ì„¸ìš”(ìœ„ ì˜ˆì‹œ ì°¸ê³ ).
        - ì†Œìˆ«ì  ì¼ê³±ë²ˆì§¸ ìë¦¬ì—ì„œ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì—¬ì„¯ë²ˆì§¸ ìë¦¬ê¹Œì§€ë§Œ ë‚˜íƒ€ë‚´ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: ê²°ê³¼ DataFrame(df_target)ì˜ Index, Column ìˆœì„œ ë˜ëŠ” Data ìˆœì„œ(ì •ë ¬)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
    - ì¡°ê±´3: 'df_target' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜(df_target)ë¥¼ check_02_03 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [9]:
for name in Nan_gu:
    df_target.loc[(df_target["ì—¬ì"].isna()) & (df_target['êµ¬ë¶„2'] == name), "ì—¬ìë¹„ìœ¨"] = float(df_result[df_result['êµ¬'] == name]['í‰ê· '])

C:\Users\User\AppData\Local\Temp\ipykernel_14916\1401714287.py:2: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df_target.loc[(df_target["ì—¬ì"].isna()) & (df_target['êµ¬ë¶„2'] == name), "ì—¬ìë¹„ìœ¨"] = float(df_result[df_result['êµ¬'] == name]['í‰ê· '])

In [10]:
# 2-3
check_02_03(df_target)
df_target.head()

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 50 / 100

     ê¸°ê°„    êµ¬ë¶„1     êµ¬ë¶„2    ì „ì²´    ë‚¨ì   ì—¬ì       ì—¬ìë¹„ìœ¨
0  2009      ì‹œ     ì„œìš¸ì‹œ  24.3  45.5  4.0  51.084337
1  2009  ìƒì• ì£¼ê¸°ë³„  19~29ì„¸  24.9  43.8  6.0  50.000000
2  2009  ìƒì• ì£¼ê¸°ë³„  30~44ì„¸  29.9  55.1  3.8  49.122807
3  2009  ìƒì• ì£¼ê¸°ë³„  45~64ì„¸  22.6  43.2  3.3  51.629073
4  2009  ìƒì• ì£¼ê¸°ë³„  65ì„¸ ì´ìƒ  11.5  22.8  2.9  56.783920

### ë¬¸ì œ 2-4) ì‹¬í™” ì „ì²˜ë¦¬ 04 (10ì )
- 2-3ì˜ DataFrame(df_target)ì„ ì•„ë˜ì˜ ì¡°ê±´ì— ë§ê²Œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì´ì œê¹Œì§€ ìœ„ì—ì„œ êµ¬í–ˆë˜ 'ì „ì²´', 'ë‚¨ì', 'ì—¬ìë¹„ìœ¨' Column(ì—´) Dataë¥¼ í™œìš©í•˜ì—¬ df_targetì˜ 'ì—¬ì' Column Dataì˜ Nullê°’(None)ì„ ì±„ìš°ë ¤ê³  í•©ë‹ˆë‹¤.
<br></br>
    - **# df_target.ì „ì²´ = df_target.ì—¬ìë¹„ìœ¨/100 * x + (1 - df_target.ì—¬ìë¹„ìœ¨/100) * df_target.ë‚¨ì** ì—ì„œì˜ x% ê°’ì´ 'ì—¬ì' ì…ë‹ˆë‹¤.
<br></br>
<br></br>
    - ì¡°ê±´1: 'ì—¬ì' Column(ì—´)ì˜ Dataê°€ Nullê°’(None)ì¸ ê²½ìš° ìœ„ì˜ ìˆ˜ì‹ì— ë”°ë¼ 'ì—¬ì'ë¥¼ êµ¬í•˜ì—¬ 'ì—¬ì' Columnì— ì…ë ¥í•˜ì„¸ìš”.
        - 'ì—¬ì' Column(ì—´)ì˜ DataëŠ” ì†Œìˆ«ì  ë‘ ë²ˆì§¸ ìë¦¬ì—ì„œ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ«ì  ì²« ë²ˆì§¸ê¹Œì§€ ì…ë ¥í•´ì£¼ì„¸ìš”.
        - 'ì—¬ì' Column(ì—´) Dataì˜ Typeì€ float(numpy.float64)ì´ì–´ì•¼ í•©ë‹ˆë‹¤.
<br></br>
    - ì¡°ê±´2: ì¡°ê±´1ì„ ìˆ˜í–‰í•œ í›„ 'ì—¬ìë¹„ìœ¨' Column(ì—´)ì„ ì‚­ì œí•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´3: Index, Column ìˆœì„œ ë˜ëŠ” Data ìˆœì„œ(ì •ë ¬)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
    - ì¡°ê±´4: 'df_target' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
    - hint1: 2-1ê³¼ ê°™ì´ ë°©ì •ì‹ì„ í’€ê¸° ìœ„í•œ Python Libraryë¡œ Sympy ë“±ì´ ìˆìŠµë‹ˆë‹¤. í•´ë‹¹ ë¬¸ì œëŠ” sympyë¥¼ ì´ìš©í•´ì„œ í’€ìˆ˜ë„ ìˆê³ , ë¹„êµì  ì‰¬ìš´ 1ì°¨ ë°©ì •ì‹ì´ë¯€ë¡œ ìˆ˜ì‹ì„ ì§ì ‘ ì „ê°œí•´ì„œ í’€ì–´ë„ ìƒê´€ ì—†ìŠµë‹ˆë‹¤.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜(df_target)ë¥¼ check_02_04 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [11]:
# 2-4

#ì¡°ê±´1
df_target['ì—¬ì'] = round((df_target['ì „ì²´'] - df_target['ë‚¨ì'] + ( (df_target['ì—¬ìë¹„ìœ¨'] * df_target['ë‚¨ì']) / 100 )) * (100/df_target['ì—¬ìë¹„ìœ¨']),1)

#ì¡°ê±´2
df_target.drop(['ì—¬ìë¹„ìœ¨'], axis=1, inplace=True)

check_02_04(df_target)
df_target.head()

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 60 / 100

     ê¸°ê°„    êµ¬ë¶„1     êµ¬ë¶„2    ì „ì²´    ë‚¨ì   ì—¬ì
0  2009      ì‹œ     ì„œìš¸ì‹œ  24.3  45.5  4.0
1  2009  ìƒì• ì£¼ê¸°ë³„  19~29ì„¸  24.9  43.8  6.0
2  2009  ìƒì• ì£¼ê¸°ë³„  30~44ì„¸  29.9  55.1  3.8
3  2009  ìƒì• ì£¼ê¸°ë³„  45~64ì„¸  22.6  43.2  3.3
4  2009  ìƒì• ì£¼ê¸°ë³„  65ì„¸ ì´ìƒ  11.5  22.8  2.9

## 3ë‹¨ê³„: ì›í•˜ëŠ” ì •ë³´ ì–»ê¸°
***

### ë¬¸ì œ 3-1) ì›í•˜ëŠ” ì •ë³´ ì–»ê¸° 01 (10ì )
- 2ë‹¨ê³„ì˜ DataFrame(df_target)ì„ ì´ìš©í•˜ì—¬ ì•„ë˜ì˜ ì¡°ê±´ì— ë§ëŠ” ì •ë³´ë¥¼ êµ¬í•˜ì„¸ìš”.
<br></br>
    - df_target 'êµ¬ë¶„2' Column(ì—´)ì˜ 'ì „ì²´', 'ë‚¨ì', 'ì—¬ì' í¡ì—°ìœ¨ì´ í•´ë§ˆë‹¤ ë‹¨ì¡°ì (monotonic)ìœ¼ë¡œ ì¦ê°€ ë˜ëŠ” ê°ì†Œí•˜ëŠ”ì§€ í™•ì¸í•˜ê³ ì í•©ë‹ˆë‹¤.
<br></br>
    - ë‹¨ì¡° ì¦ê°€ / ë‹¨ì¡° ê°ì†Œ
        - ì–´ë–¤ ìˆ˜ì—´ì´ë‚˜ í•¨ìˆ˜ê°€ ìˆì„ ë•Œ, í•´ë‹¹ ìˆ˜ì—´ì´ë‚˜ í•¨ìˆ˜ê°€ ì •ì˜ëœ êµ¬ê°„ì—ì„œ ê°ì†Œí•˜ì§€ ì•ŠëŠ” ê²½ìš°ë¥¼ ë‹¨ì¡°ì¦ê°€, ì¦ê°€í•˜ì§€ ì•ŠëŠ” ê²½ìš°ë¥¼ ë‹¨ì¡°ê°ì†Œ í•œë‹¤ê³  í‘œí˜„í•œë‹¤.
        - ë‹¤ì‹œë§í•´, ì¤‘ê°„ì— ê°ì†Œ í•œë²ˆ ì—†ì´ ì§€ì†í•´ì„œ ì¦ê°€í•˜ëŠ” ê²½ìš° ë‹¨ì¡° ì¦ê°€, ì¤‘ê°„ì— ì¦ê°€ ì—†ì´ ì§€ì†í•´ì„œ ê°ì†Œí•˜ëŠ” ê²½ìš° ë‹¨ì¡° ê°ì†Œí•œë‹¤ê³  í•œë‹¤.
<br></br>
<br></br>
    - ì¡°ê±´1: ê²°ê³¼ DataFrameì˜ Column(ì—´)ëª…ì€ ['êµ¬ë¶„1', 'êµ¬ë¶„2', 'ì „ì²´', 'ë‚¨ì','ì—¬ì'] ì…ë‹ˆë‹¤.
<br></br>
    - ì¡°ê±´2: 'êµ¬ë¶„2' ë³„ë¡œ 'ì „ì²´', 'ë‚¨ì', 'ì—¬ì' Column(ì—´) Dataê°€ 'ê¸°ê°„'ì— ë”°ë¼ ë‹¨ì¡°ì ìœ¼ë¡œ ë³€í™”í•˜ëŠ”ì§€ ì•„ë‹Œì§€ í™•ì¸í•˜ì„¸ìš”.
        - ë‹¨ì¡°ì ìœ¼ë¡œ ë³€í™”í•œë‹¤ëŠ” ê²ƒì€ ë‹¨ì¡° ì¦ê°€ ë³€í™”ì™€ ë‹¨ì¡° ê°ì†Œ ë³€í™”ë¥¼ ëª¨ë‘ í¬ê´„í•˜ëŠ” ë§ì…ë‹ˆë‹¤.
        - ë‹¨ì¡°ì ìœ¼ë¡œ ë³€í™”í•œë‹¤ë©´ True, ê·¸ë ‡ì§€ ì•Šë‹¤ë©´ Falseë¥¼ ì…ë ¥í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´3: ['êµ¬ë¶„1', 'êµ¬ë¶„2']ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ìˆœì„œë¥¼ ë³€ê²½(sort)í•˜ê³  Indexë¥¼ Resetí•˜ì„¸ìš”.
<br></br>
    - ì˜ˆì‹œ(ì„ì˜ì˜ booleanê°’ì„ ë„£ì—ˆìŠµë‹ˆë‹¤.)
<br></br>
        <img src="images/06-3-1-001.png" style="margin:auto" width=400/>
<br></br>
    - ì¡°ê±´4: 'df_result' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜(df_result)ë¥¼ check_03_01 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [12]:
#3-1
# df_result = df_target.groupby(['êµ¬ë¶„1', 'êµ¬ë¶„2']).sum().reset_index().sort_values(by=['êµ¬ë¶„1', 'êµ¬ë¶„2'])
df_result = df_target.groupby(['êµ¬ë¶„1', 'êµ¬ë¶„2', 'ê¸°ê°„']).sum().reset_index().sort_values(by=['êµ¬ë¶„1', 'êµ¬ë¶„2', 'ê¸°ê°„'])
df_result

                êµ¬ë¶„1  êµ¬ë¶„2    ê¸°ê°„    ì „ì²´    ë‚¨ì   ì—¬ì
0    êµìœ¡ìˆ˜ì¤€ë³„â… (30~64ì„¸)   ê³ ì¡¸  2009  27.7  54.5  4.4
1    êµìœ¡ìˆ˜ì¤€ë³„â… (30~64ì„¸)   ê³ ì¡¸  2010  27.0  53.8  4.7
2    êµìœ¡ìˆ˜ì¤€ë³„â… (30~64ì„¸)   ê³ ì¡¸  2011  27.7  54.4  4.6
3    êµìœ¡ìˆ˜ì¤€ë³„â… (30~64ì„¸)   ê³ ì¡¸  2012  27.1  54.1  4.4
4    êµìœ¡ìˆ˜ì¤€ë³„â… (30~64ì„¸)   ê³ ì¡¸  2013  27.4  55.3  4.9
..              ...  ...   ...   ...   ...  ...
391     ì§ì—…ë³„(30~64ì„¸)  ìœ¡ì²´ì§  2015  34.8  48.0  3.9
392     ì§ì—…ë³„(30~64ì„¸)  ìœ¡ì²´ì§  2016  34.2  47.7  3.5
393     ì§ì—…ë³„(30~64ì„¸)  ìœ¡ì²´ì§  2017  34.7  49.0  2.5
394     ì§ì—…ë³„(30~64ì„¸)  ìœ¡ì²´ì§  2018  33.2  46.5  5.4
395     ì§ì—…ë³„(30~64ì„¸)  ìœ¡ì²´ì§  2019  34.2  46.5  4.3

[396 rows x 6 columns]

In [13]:
df_result[(df_result['êµ¬ë¶„1']=='êµ¬') & (df_result['êµ¬ë¶„2'] == 'ì„œì´ˆêµ¬')]['ì „ì²´'].values
total = []
men = []
women = []

for name in df_result['êµ¬ë¶„1'].unique():
    for name2 in df_result[df_result['êµ¬ë¶„1'] == name]['êµ¬ë¶„2'].unique():
        if (df_result[(df_result['êµ¬ë¶„1'] == name) & (df_result['êµ¬ë¶„2'] == name2)]['ì „ì²´'].values == np.sort(df_result[(df_result['êµ¬ë¶„1'] == name) & (df_result['êµ¬ë¶„2'] == name2)]['ì „ì²´'].values)[::-1]).all():
            total.append(True)
            print('search')
        elif (df_result[(df_result['êµ¬ë¶„1'] == name) & (df_result['êµ¬ë¶„2'] == name2)]['ì „ì²´'].values == np.sort(df_result[(df_result['êµ¬ë¶„1'] == name) & (df_result['êµ¬ë¶„2'] == name2)]['ì „ì²´'].values)).all():
            total.append(True)
            print('search')
        else:
            total.append(False)
for name in df_result['êµ¬ë¶„1'].unique():
    for name2 in df_result[df_result['êµ¬ë¶„1'] == name]['êµ¬ë¶„2'].unique():
        if (df_result[(df_result['êµ¬ë¶„1'] == name) & (df_result['êµ¬ë¶„2'] == name2)]['ë‚¨ì'].values == np.sort(df_result[(df_result['êµ¬ë¶„1'] == name) & (df_result['êµ¬ë¶„2'] == name2)]['ë‚¨ì'].values)[::-1]).all():
            men.append(True)
        elif (df_result[(df_result['êµ¬ë¶„1'] == name) & (df_result['êµ¬ë¶„2'] == name2)]['ë‚¨ì'].values == np.sort(df_result[(df_result['êµ¬ë¶„1'] == name) & (df_result['êµ¬ë¶„2'] == name2)]['ë‚¨ì'].values)).all():
            men.append(True)
        else:
            men.append(False)
for name in df_result['êµ¬ë¶„1'].unique():
    for name2 in df_result[df_result['êµ¬ë¶„1'] == name]['êµ¬ë¶„2'].unique():
        if (df_result[(df_result['êµ¬ë¶„1'] == name) & (df_result['êµ¬ë¶„2'] == name2)]['ì—¬ì'].values == np.sort(df_result[(df_result['êµ¬ë¶„1'] == name) & (df_result['êµ¬ë¶„2'] == name2)]['ì—¬ì'].values)[::-1]).all():
            women.append(True)
        elif (df_result[(df_result['êµ¬ë¶„1'] == name) & (df_result['êµ¬ë¶„2'] == name2)]['ì—¬ì'].values == np.sort(df_result[(df_result['êµ¬ë¶„1'] == name) & (df_result['êµ¬ë¶„2'] == name2)]['ì—¬ì'].values)).all():
            women.append(True)
        else:
            women.append(False)
len(women)

36

In [14]:
main = df_target.groupby(['êµ¬ë¶„1', 'êµ¬ë¶„2']).sum().reset_index().sort_values(by=['êµ¬ë¶„1', 'êµ¬ë¶„2']).iloc[:,:2]
main['ì „ì²´'] = total
main['ë‚¨ì'] = men
main['ì—¬ì'] = women
#3-1
check_03_01(main)
display(main)

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 70 / 100

               êµ¬ë¶„1      êµ¬ë¶„2     ì „ì²´     ë‚¨ì     ì—¬ì
0   êµìœ¡ìˆ˜ì¤€ë³„â… (30~64ì„¸)       ê³ ì¡¸  False  False  False
1   êµìœ¡ìˆ˜ì¤€ë³„â… (30~64ì„¸)     ëŒ€ì¡¸ì´ìƒ  False  False  False
2   êµìœ¡ìˆ˜ì¤€ë³„â… (30~64ì„¸)     ì¤‘ì¡¸ì´í•˜  False  False  False
3                êµ¬      ê°•ë‚¨êµ¬  False  False  False
4                êµ¬      ê°•ë™êµ¬  False  False  False
5                êµ¬      ê°•ë¶êµ¬  False  False  False
6                êµ¬      ê°•ì„œêµ¬  False  False  False
7                êµ¬      ê´€ì•…êµ¬  False  False  False
8                êµ¬      ê´‘ì§„êµ¬  False  False  False
9                êµ¬      êµ¬ë¡œêµ¬  False  False  False
10               êµ¬      ê¸ˆì²œêµ¬  False  False  False
11               êµ¬      ë…¸ì›êµ¬  False  False  False
12               êµ¬      ë„ë´‰êµ¬  False  False  False
13               êµ¬     ë™ëŒ€ë¬¸êµ¬  False  False  False
14               êµ¬      ë™ì‘êµ¬  False  False  False
15               êµ¬      ë§ˆí¬êµ¬  False  False  False
16               êµ¬     ì„œëŒ€ë¬¸êµ¬  False  False  False
17               êµ¬      ì„œì´ˆêµ¬  False  False  False
18               êµ¬      ì„±ë™êµ¬  False  False  False
19               êµ¬      ì„±ë¶êµ¬  False  False  False
20               êµ¬      ì†¡íŒŒêµ¬  False  False  False
21               êµ¬      ì–‘ì²œêµ¬  False  False  False
22               êµ¬     ì˜ë“±í¬êµ¬  False  False  False
23               êµ¬      ìš©ì‚°êµ¬  False  False  False
24               êµ¬      ì€í‰êµ¬  False  False  False
25               êµ¬      ì¢…ë¡œêµ¬  False  False  False
26               êµ¬       ì¤‘êµ¬  False  False  False
27               êµ¬      ì¤‘ë‘êµ¬  False  False  False
28           ìƒì• ì£¼ê¸°ë³„   19~29ì„¸  False  False  False
29           ìƒì• ì£¼ê¸°ë³„   30~44ì„¸  False  False  False
30           ìƒì• ì£¼ê¸°ë³„   45~64ì„¸  False  False  False
31           ìƒì• ì£¼ê¸°ë³„   65ì„¸ ì´ìƒ  False  False  False
32               ì‹œ      ì„œìš¸ì‹œ  False  False  False
33     ì§ì—…ë³„(30~64ì„¸)      ì‚¬ë¬´ì§  False  False  False
34     ì§ì—…ë³„(30~64ì„¸)  ì„œë¹„ìŠ¤ã†íŒë§¤ì§  False  False  False
35     ì§ì—…ë³„(30~64ì„¸)      ìœ¡ì²´ì§  False  False  False

### ë¬¸ì œ 3-2) ì›í•˜ëŠ” ì •ë³´ ì–»ê¸° 02 (10ì )
- 2ë‹¨ê³„ì˜ DataFrame(df_target)ì„ ì´ìš©í•˜ì—¬ ì•„ë˜ì˜ ì¡°ê±´ì— ë§ëŠ” ì •ë³´ë¥¼ êµ¬í•˜ì„¸ìš”.
<br></br>
    - df_target 'êµ¬ë¶„2' Column(ì—´)ì˜ 'ì „ì²´', 'ë‚¨ì', 'ì—¬ì' í¡ì—°ìœ¨ì´ í•´ë¥¼ ê±°ë“­í• ìˆ˜ë¡ ì¦ê°€ ë˜ëŠ” ê°ì†Œí•˜ëŠ”ì§€ íšŒê·€ê³„ìˆ˜ë¥¼ í†µí•´ì„œ í™•ì¸í•˜ê³ ì í•©ë‹ˆë‹¤.
<br></br>
    - íšŒê·€ê³„ìˆ˜ì— ëŒ€í•´ì„œëŠ” ì•ì˜ 2-2 ë¬¸ì œë¥¼ ì°¸ê³ í•´ì£¼ì„¸ìš”.
<br></br>
<br></br>
    - ì¡°ê±´1: ê²°ê³¼ DataFrameì˜ Column(ì—´)ëª…ì€ ['êµ¬ë¶„1', 'êµ¬ë¶„2', 'ì „ì²´', 'ë‚¨ì','ì—¬ì'] ì…ë‹ˆë‹¤.
<br></br>
    - ì¡°ê±´2: 'êµ¬ë¶„2' ë³„ë¡œ 'ì „ì²´', 'ë‚¨ì', 'ì—¬ì' Column(ì—´) Dataì— ëŒ€í•´ 'ê¸°ê°„'ì— ë”°ë¥¸ íšŒê·€ê³„ìˆ˜ë¥¼ êµ¬í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´3: ['êµ¬ë¶„1', 'êµ¬ë¶„2']ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ìˆœì„œë¥¼ ë³€ê²½(sort)í•˜ê³  Indexë¥¼ Resetí•˜ì„¸ìš”.
<br></br>
    - ì˜ˆì‹œ(ì„ì˜ì˜ floatê°’ì„ ë„£ì—ˆìŠµë‹ˆë‹¤.)
<br></br>
        <img src="images/06-3-2-001.png" style="margin:auto" width=400/>
<br></br>
    - ì¡°ê±´4: 'df_result' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜(df_result)ë¥¼ check_03_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [15]:
linear_list_total = []
linear_list_men = []
linear_list_women = []
gu_list1=[]
gu_list2=[]

for name in df_result['êµ¬ë¶„1'].unique():
    for name2 in df_result[df_result['êµ¬ë¶„1']==name]['êµ¬ë¶„2'].unique():
        #êµ¬
        gu_list1.append(name)
        #êµ¬2
        gu_list2.append(name2)
        
        #total
        x_values2 = df_result[(df_result["êµ¬ë¶„1"] == name) & (df_result["êµ¬ë¶„2"] == name2)]['ê¸°ê°„'].values
        y_values2 = df_result[(df_result["êµ¬ë¶„1"] == name) & (df_result["êµ¬ë¶„2"] == name2)]['ì „ì²´'].values
        linear_num = round(np.polyfit(x_values2, y_values2, 1)[0], 6)
        linear_list_total.append(linear_num)
        
        #men
        linear_num2 = round(np.polyfit(x_values2, df_result[(df_result["êµ¬ë¶„1"] == name) & (df_result["êµ¬ë¶„2"] == name2)]['ë‚¨ì'].values, 1)[0], 6)
        linear_list_men.append(linear_num2)
        
        #women
        linear_num3 = round(np.polyfit(x_values2, df_result[(df_result["êµ¬ë¶„1"] == name) & (df_result["êµ¬ë¶„2"] == name2)]['ì—¬ì'].values, 1)[0], 6)
        linear_list_women.append(linear_num3)

In [16]:
# 3-2
df_result = pd.DataFrame(data={
    'êµ¬ë¶„1' : gu_list1,
    'êµ¬ë¶„2' : gu_list2,
    'ì „ì²´' : linear_list_total,
    'ë‚¨ì' : linear_list_men,
    'ì—¬ì' : linear_list_women
})
check_03_02(df_result)

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 80 / 100

### ë¬¸ì œ 3-3) ì›í•˜ëŠ” ì •ë³´ ì–»ê¸° 03 (10ì )
- 3-2ì˜ DataFrame(df_result)ì„ ì´ìš©í•˜ì—¬ ì•„ë˜ì˜ ì¡°ê±´ì— ë§ëŠ” ì •ë³´ë¥¼ êµ¬í•˜ì„¸ìš”.
<br></br>
    - 3-2ì˜ df_result 'êµ¬ë¶„1' Column(ì—´) Dataë§ˆë‹¤ ì–´ë–¤ 'êµ¬ë¶„2' Column(ì—´)ì˜ Dataê°€ 'ì „ì²´' í¡ì—°ìœ¨ ê°ì†Œìœ¨ì´ ë†’ì€ì§€/ë‚®ì€ì§€ ì•Œì•„ë³´ê³ ì í•©ë‹ˆë‹¤.
<br></br>
<br></br>
    - ì¡°ê±´1: ê²°ê³¼ DataFrameì˜ Column(ì—´)ëª…ì€ ['êµ¬ë¶„1', 'ìµœëŒ€', 'ìµœì†Œ'] ì…ë‹ˆë‹¤.
<br></br>
    - ì¡°ê±´2: íšŒê·€ê³„ìˆ˜ê°€ ìŒìˆ˜(=í¡ì—°ìœ¨ì´ ê°ì†Œì¤‘)ì¸ 'êµ¬ë¶„1' Column(ì—´) Data ì¤‘ ì–´ë–¤ 'êµ¬ë¶„2' Column(ì—´) Dataê°€ 'ì „ì²´' í¡ì—°ìœ¨ ê°ì†Œìœ¨ì´ ê°€ì¥ ë†’ì€ì§€/ë‚®ì€ì§€ ì°¾ì•„ì„œ ê²°ê³¼ DataFrameì— ì…ë ¥í•˜ì„¸ìš”.
        - 'êµ¬ë¶„1' ì¤‘ 'ì‹œ'ëŠ” 'êµ¬ë¶„2' Data ê°€ 1ê°œ(ì„œìš¸ì‹œ)ì´ë¯€ë¡œ ì œì™¸í•©ë‹ˆë‹¤.
        - ë§Œì•½, 'êµ¬ë¶„1' Column(ì—´) Data ì¤‘ ê°ì†Œì¤‘ì¸ 'êµ¬ë¶„2' Column(ì—´) Dataê°€ 1ê°œë¼ë©´, í•´ë‹¹ 'êµ¬ë¶„2' Dataë¥¼ 'ìµœëŒ€'ì— ë„£ê³ , 'ìµœì†Œ' Column(ì—´)ì—ëŠ” Noneê°’ì„ ì…ë ¥í•˜ì„¸ìš”.
        - ë§Œì•½, 'êµ¬ë¶„1' Column(ì—´) Data ì¤‘ ì¦ê°€ì¤‘ì¸ 'êµ¬ë¶„2' Column(ì—´) Dataê°€ ì—†ë‹¤ë©´, í•´ë‹¹ 'êµ¬ë¶„1' DataëŠ” ê±´ë„ˆë›°ì„¸ìš”.(ê²°ê³¼ DataFrameì— ì…ë ¥í•˜ì§€ ë§ˆì„¸ìš”)
<br></br>
    - ì¡°ê±´3: ['êµ¬ë¶„1']ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ìˆœì„œë¥¼ ë³€ê²½(sort)í•˜ê³  Indexë¥¼ Resetí•˜ì„¸ìš”.
<br></br>
    - ì˜ˆì‹œ(ì„ì˜ì˜ ê°’ì„ ë„£ì—ˆìŠµë‹ˆë‹¤.)
<br></br>
        <img src="images/06-3-3-001.png" style="margin:auto" width=300/>
<br></br>
    - ì¡°ê±´4: 'df_maxmin' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜(df_maxmin)ë¥¼ check_03_04 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [17]:
min_list = []
max_list = []

for name in df_result['êµ¬ë¶„1'].unique():
    min_num = df_result[df_result['êµ¬ë¶„1'] == name]['ì „ì²´'].min()
    min_row = df_result[(df_result['êµ¬ë¶„1'] == name) & (df_result['ì „ì²´'] == min_num)]['êµ¬ë¶„2']
    max_num = df_result[(df_result['êµ¬ë¶„1'] == name) & (df_result['ì „ì²´'] < 0) ]['ì „ì²´'].max()
    max_row = df_result[(df_result['êµ¬ë¶„1'] == name) & (df_result['ì „ì²´'] == max_num)]['êµ¬ë¶„2']
    if not min_row.empty:
        min_list.append(min_row.to_string(index=False))
    if not max_row.empty:
        max_list.append(max_row.to_string(index=False))
print(min_list)
print(max_list)

['ëŒ€ì¡¸ì´ìƒ', 'ê°•ë™êµ¬', '30~44ì„¸', 'ì„œìš¸ì‹œ', 'ì‚¬ë¬´ì§']
['ê³ ì¡¸', 'ì¤‘ë‘êµ¬', '45~64ì„¸', 'ì„œìš¸ì‹œ', 'ìœ¡ì²´ì§']

In [19]:
df_maxmin = pd.DataFrame(data = {
    "êµ¬ë¶„1": df_result['êµ¬ë¶„1'].unique(),
    'ìµœëŒ€': max_list,
    'ìµœì†Œ': min_list
})
# 3-3
df_maxmin = df_maxmin[df_maxmin['êµ¬ë¶„1'] != 'ì‹œ']
df_maxmin.sort_values(by='êµ¬ë¶„1').reset_index(drop=True, inplace=True)
check_03_03(df_maxmin)
df_maxmin

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 90 / 100

              êµ¬ë¶„1      ìµœëŒ€      ìµœì†Œ
0  êµìœ¡ìˆ˜ì¤€ë³„â… (30~64ì„¸)      ê³ ì¡¸    ëŒ€ì¡¸ì´ìƒ
1               êµ¬     ì¤‘ë‘êµ¬     ê°•ë™êµ¬
2           ìƒì• ì£¼ê¸°ë³„  45~64ì„¸  30~44ì„¸
4     ì§ì—…ë³„(30~64ì„¸)     ìœ¡ì²´ì§     ì‚¬ë¬´ì§

### ë¬¸ì œ 3-4) ì›í•˜ëŠ” ì •ë³´ ì–»ê¸° 04 (10ì )
- 3-2ì˜ DataFrame(df_result)ì„ ì´ìš©í•˜ì—¬ ì•„ë˜ì˜ ì¡°ê±´ì— ë§ëŠ” ì •ë³´ë¥¼ êµ¬í•˜ì„¸ìš”.
<br></br>
    - 3-2ì˜ df_result 'êµ¬ë¶„1' Column(ì—´) Dataë§ˆë‹¤ ì–´ë–¤ 'êµ¬ë¶„2' Column(ì—´)ì˜ Dataê°€ 'ì—¬ì' í¡ì—°ìœ¨ ì¦ê°€ìœ¨ì´ ë†’ì€ì§€/ë‚®ì€ì§€ ì•Œì•„ë³´ê³ ì í•©ë‹ˆë‹¤.
<br></br>
<br></br>
    - ì¡°ê±´1: ê²°ê³¼ DataFrameì˜ Column(ì—´)ëª…ì€ ['êµ¬ë¶„1', 'ìµœëŒ€', 'ìµœì†Œ'] ì…ë‹ˆë‹¤.
<br></br>
    - ì¡°ê±´2: íšŒê·€ê³„ìˆ˜ê°€ ì–‘ìˆ˜(=í¡ì—°ìœ¨ì´ ì¦ê°€ì¤‘)ì¸ 'êµ¬ë¶„1' Column(ì—´) Data ì¤‘ ì–´ë–¤ 'êµ¬ë¶„2' Column(ì—´) Dataê°€ 'ì—¬ì' í¡ì—°ìœ¨ ê°ì†Œìœ¨ì´ ê°€ì¥ ë†’ì€ì§€/ë‚®ì€ì§€ ì°¾ì•„ì„œ ê²°ê³¼ DataFrameì— ì…ë ¥í•˜ì„¸ìš”.
        - 'êµ¬ë¶„1' ì¤‘ 'ì‹œ'ëŠ” 'êµ¬ë¶„2' Data ê°€ 1ê°œ(ì„œìš¸ì‹œ)ì´ë¯€ë¡œ ì œì™¸í•©ë‹ˆë‹¤.
        - ë§Œì•½, 'êµ¬ë¶„1' Column(ì—´) Data ì¤‘ ì¦ê°€ì¤‘ì¸ 'êµ¬ë¶„2' Column(ì—´) Dataê°€ 1ê°œë¼ë©´, í•´ë‹¹ 'êµ¬ë¶„2' Dataë¥¼ 'ìµœëŒ€'ì— ë„£ê³ , 'ìµœì†Œ' Column(ì—´)ì—ëŠ” Noneê°’ì„ ì…ë ¥í•˜ì„¸ìš”.
        - ë§Œì•½, 'êµ¬ë¶„1' Column(ì—´) Data ì¤‘ ì¦ê°€ì¤‘ì¸ 'êµ¬ë¶„2' Column(ì—´) Dataê°€ ì—†ë‹¤ë©´, í•´ë‹¹ 'êµ¬ë¶„1' DataëŠ” ê±´ë„ˆë›°ì„¸ìš”.(ê²°ê³¼ DataFrameì— ì…ë ¥í•˜ì§€ ë§ˆì„¸ìš”)
<br></br>
    - ì¡°ê±´3: ['êµ¬ë¶„1']ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ìˆœì„œë¥¼ ë³€ê²½(sort)í•˜ê³  Indexë¥¼ Resetí•˜ì„¸ìš”.
<br></br>
    - ì˜ˆì‹œ(ì„ì˜ì˜ ê°’ì„ ë„£ì—ˆìŠµë‹ˆë‹¤.)
<br></br>
        <img src="images/06-3-4-001.png" style="margin:auto" width=300/>
<br></br>
    - ì¡°ê±´4: 'df_maxmin' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜(df_maxmin)ë¥¼ check_03_04 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [20]:
import pandas as pd

min_list = []
max_list = []

for name in df_result['êµ¬ë¶„1'].unique():
    # Find the row with the minimum 'ì „ì²´' í¡ì—°ìœ¨
    min_row = df_result[(df_result['êµ¬ë¶„1'] == name) & (df_result['ì—¬ì'] == df_result[df_result['êµ¬ë¶„1'] == name]['ì—¬ì'].min())]['êµ¬ë¶„2']
    
    # Find the row with the maximum 'ì „ì²´' í¡ì—°ìœ¨
    max_row = df_result[(df_result['êµ¬ë¶„1'] == name) & (df_result['ì—¬ì'] == df_result[df_result['êµ¬ë¶„1'] == name]['ì—¬ì'].max())]['êµ¬ë¶„2']

    if not min_row.empty:
        min_list.append(min_row.to_string(index=False))
    if not max_row.empty:
        max_list.append(max_row.to_string(index=False))

# Ensure that both lists have the same length
min_len = len(min_list)
max_len = len(max_list)
max_list.extend([''] * (min_len - max_len) if min_len > max_len else [])
min_list.extend([''] * (max_len - min_len) if max_len > min_len else [])

df_maxmin = pd.DataFrame(data={
    "êµ¬ë¶„1": df_result['êµ¬ë¶„1'].unique(),
    'ìµœëŒ€': max_list,
    'ìµœì†Œ': min_list
})

# Exclude 'ì‹œ' from the results
df_maxmin = df_maxmin[df_maxmin['êµ¬ë¶„1'] != 'ì‹œ']

# Sort the DataFrame by 'êµ¬ë¶„1'
df_maxmin.sort_values(by='êµ¬ë¶„1', inplace=True)

# Reset the index
df_maxmin.reset_index(drop=True, inplace=True)

df_maxmin

              êµ¬ë¶„1       ìµœëŒ€      ìµœì†Œ
0  êµìœ¡ìˆ˜ì¤€ë³„â… (30~64ì„¸)     ì¤‘ì¡¸ì´í•˜    ëŒ€ì¡¸ì´ìƒ
1               êµ¬      ì€í‰êµ¬     ê°•ë™êµ¬
2           ìƒì• ì£¼ê¸°ë³„   19~29ì„¸  65ì„¸ ì´ìƒ
3     ì§ì—…ë³„(30~64ì„¸)  ì„œë¹„ìŠ¤ã†íŒë§¤ì§     ì‚¬ë¬´ì§

In [ ]:
df_maxmin = pd.DataFrame(data = {
    "êµ¬ë¶„1": df_result['êµ¬ë¶„1'].unique(),
    'ìµœëŒ€': max_list,
    'ìµœì†Œ': min_list
})
# 3-4
df_maxmin = df_maxmin[df_maxmin['êµ¬ë¶„1'] != 'ì‹œ']
df_maxmin.sort_values(by='êµ¬ë¶„1').reset_index(drop=True, inplace=True)
check_03_04(df_maxmin)
df_maxmin

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 100 / 100

           êµ¬ë¶„1       ìµœëŒ€    ìµœì†Œ
0            êµ¬      ì€í‰êµ¬   ì„±ë™êµ¬
1        ìƒì• ì£¼ê¸°ë³„   19~29ì„¸  None
2  ì§ì—…ë³„(30~64ì„¸)  ì„œë¹„ìŠ¤ã†íŒë§¤ì§  None

***

### ğŸŠ ë¬¸ì œê°€ ëë‚¬ìŠµë‹ˆë‹¤. ì œì¶œì–‘ì‹ê³¼ ì¼ì •ì— ë§ì¶° ì œì¶œí•´ì£¼ì‹œê¸°ë¥¼ ë°”ëë‹ˆë‹¤!

### ì œì¶œì–‘ì‹
- ì´ íŒŒì¼ì€ EDA TEST 6íšŒì°¨ ë…¸íŠ¸ë¶ì…ë‹ˆë‹¤. ë”°ë¼ì„œ ì œì¶œì‹œ íŒŒì¼ëª…ì€ ì•„ë˜ì™€ ê°™ìŠµë‹ˆë‹¤.
- [DS]edalvtest_06_yourname.ipynb

***

# ë¬¸ì˜ì‚¬í•­ ë° ì˜ê²¬ì´ ìˆëŠ” ê²½ìš° ì‘ì„±í•´ì£¼ì„¸ìš”.